* {
	margin: 0;
	padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.cf:after {
	content: "020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none !important;
}

.main {
	margin-top: 20px;
}